body{
  background-image: url(/assets/img/pexels-tobias-bjørkli-1819651.jpg) !important;
  background-size: cover !important;
}
.modal-title{
  color:black
}
center h1{
  font-size: 74px;
  margin-bottom: 20px;
  padding-top: 90px;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
center h2{
  color: white;
}
.done-tasks{
  background-color: #3C6255;
  display: flex;
    align-items: center;
    justify-content: space-around;
}
.doing-tasks{
  background-color: #3C6255;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.todo-tasks{
  background-color: #3C6255;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-header{
  font-size: 20px;
}

.taskname{
  font-size: 24px;
}
.date{
  text-align:start;
  opacity: 0.7;
  margin-bottom: 0px;
}

.bi{
  cursor: pointer;
}
.btn{
  color: #3C6255 !important;
  background-color: white !important;
}


